---
import cursos from "../../data/cursos.json";
---

<h3>Este e o Component Curso</h3>

{
  cursos.map((curso) => (
    <div class="curso">
      <h3>{curso.name}</h3>
      <p>Professor: {curso.instructor}</p>
      <p>Duração: {curso.duration}</p>
    </div>
  ))
}

<style>
  .curso {
    border-bottom: 1px solid black;
    margin-bottom: 20px;
  }
</style>
